.hai{
    color:red;
}
.mystyle{
    color: blue;
    background-color: white;
    border:1px solid DodgerBlue;
    border-radius:5px;
    float: left;
    display: block;
    text-align: center;
    padding: 8px;
    margin: 0px 15px 0px 15px;
    overflow: hidden;
  };
  .active{
      background-color: blue;
  }